
<div class="container">
  <div class="row text-center padded">
    <h1>My trips</h1>
  <% if @bookings.size == 0 %>
    <div class="padded"><p>You don't have any bookings</p></div>
    <div class="padded"><%= link_to "Plan your next trip", pages_home_path, class: "btn btn-primary" %></div>
  <% end %>
  </div>
  <% @bookings.each do |booking| %>
  <div class="row opacity-effect" id="trip-card">
    <div class="col-xs-12 col-sm-4">
      <%= image_tag booking.flat.flat_images.first.picture.url(:medium), class: "align-left", id: "photo-trip-card" %>
      <div id="photo-text-trip-card">
        <h4><%= booking.flat.city %></h4>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 text-trip-card">
      <h3><%= booking.flat.title %></h3>
      <h4><%= booking.flat.description.first(50)%>...</h4>
      <p>Check-in date : <%= booking.check_in %></p>
      <p>Check-out date: <%= booking.check_out %></p>
      <% if true!=true %>
        <div>
          <%= image_tag "validated.png", id: "validation-img", class: "expandUp" %>
          <div class="text-align fadeIn">
            <p>Your reservation has been validated</p>
          </div>
        </div>
      <% else %>
          <%= image_tag "pending.png", id: "pending-img", class: "expandUp" %>
          <div class="text-align fadeIn">
            <p>Your reservation is pending</p>
          </div>
      <% end %>
      <%= link_to "Cancel my reservation", account_booking_path(booking), method: :delete, class: "btn btn-success", id: "btn-align" %>
    </div>
  </div>
  <% end %>
</div>