<div id="wrapper">
  <div class="container-fluid">

    <div class="row text-center">
      <h1>Flats</h1>
    </div>

    <div class="row" style="padding-left: 10px;">
      <% if @flats.empty? %>
        <div class="col-xs-12 text-center padding-text">
          <h2>
            There is no flats for now !
          </h2>
        </div>
        <%= render 'flats/map' %>
      <% else %>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
          <% @flats.each do |flat| %>
            <%= link_to flat_path(flat) do %>
              <div class="col-xs-6 text-center flat-card padding-card-elements">
                <div class="row text-center">
                  <%= image_tag flat.flat_images.first.picture.url(:medium) %>
                </div>
                <div class="row">
                  <div class="col-xs-3">
                    <%= image_tag flat.user.picture, class: "img-circle reverse-margin img-border" %>
                  </div>
                  <div class="col-xs-6 padding-top">
                    <p><%= flat.title.first(30) %>...</p>
                    <p>Capacity: <strong><%= flat.capacity%></strong> people</p>
                    <p><%= flat.city%></p>
                  </div>
                </div>
              </div>
            <%end%>
          <%end%>
        </div>
        <%= render 'flats/map' %>
      <%end%>
    </div>

  </div>
</div>


