<%= image_tag @flat.flat_images.first.picture.url(:large), class: "flat-banner" %>

<div id="summary" class="text-center padded">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <div class="col-md-3" id="top-padded">
        <%= image_tag @flat.user.picture.url(:medium), class: "img-circle" %>
        <p> <%= @flat.user.firstname %></p>
      </div>
      <div class="col-md-9 text-left">
        <h2><strong> <%= @flat.title %> </strong></h2>
        <p> <%= @flat.city %> </p>
      </div>
      </div>
  </div>
</div>


<div class="container">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8">
    <div class="row">
      <h2>About this flat</h2>
    </div>
    <div class="row border-col padded" id="description-padded">
      <p><%= @flat.description %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8">
    <div class="row">
      <h2>More pictures</h2>
    </div>
    <div class="row padded">
      <%= image_tag @flat.flat_images.second.picture.url(:medium) %>
      <%= image_tag @flat.flat_images.third.picture.url(:medium) %>
    </div>
  </div>
</div>
