<%= image_tag @flat.flat_images.first.picture.url(:large), class: "flat-banner" %>

<div id="summary" class="text-center padded">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <div class="col-md-2" id="top-padded">
        <%= image_tag @flat.user.picture.url(:medium), class: "img-circle" %>
        <p> <%= @flat.user.firstname %></p>
      </div>
      <div class="col-md-8 text-left">
        <h2><strong> <%= @flat.title.first(30) %> </strong></h2>
        <p> <%= @flat.city %> </p>
      </div>
      <div class="col-md-2 price-padded">
        <div class="row" id="price-border">
          <div class="row">
            <p> Price per night: </p>
          </div>
          <div class="row">
            <p> <strong><%= @flat.price_cents %> $ </strong></p>
          </div>
        </div>
        <div class="row rent-padded">
          <% if current_user.id != @flat.user_id %>
            <%= link_to "Rent this flat", new_flat_booking_path(@flat), class: "btn btn-primary"%>
          <% else %>
            <%= link_to "Delete this flat", account_flat_path(@flat), method: :delete, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8">
    <div class="row">
      <h2>About this flat</h2>
    </div>
    <div class="row border-col padded" id="description-padded">
      <p><%= @flat.description %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8">
    <div class="row">
      <h2>More pictures</h2>
    </div>
    <div class="row padded">
      <%= image_tag @flat.flat_images.second.picture.url(:medium) %>
      <%= image_tag @flat.flat_images.third.picture.url(:medium) %>
    </div>
  </div>
</div>

<div class="container" id="btn-margin">
  <% if current_user.id != @flat.user_id %>
    <%= link_to "Rent this flat", new_flat_booking_path(@flat), class: "btn btn-primary" %>
  <% end %>
</div>