
<div class="container-fluid text-center">
  <%= image_tag @flat.flat_images.first.picture.url(:large) %>
</div>

<div class="container text-center padded">
  <div class="row">
    <h1><%= @flat.title %></h1>
    <p><%= @flat.city %> - Capacity: <%= @flat.capacity %> </p>
  </div>
  <div class="row">
    <h4><%= @flat.description %></h4>
  </div>
</div>


