<div class="container">
  <div class="row text-center padded">
    <h1>Bookings on my flats</h1>
  <% if @bookings.size == 0 %>
    <div class="padded"><p>You don't have any bookings on your flats</p></div>
  <% end %>
  </div>
  <% @bookings.each_with_index do |booking, index| %>
  <div class="row opacity-effect" id="trip-card" style="background: white;">
    <div class="col-xs-12 col-sm-4">
      <%= image_tag booking.flat.flat_images.first.picture.url(:medium), class: "align-left", id: "photo-trip-card" %>
      <div id="photo-text-trip-card">
        <h4><%= booking.flat.city %></h4>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 text-trip-card">
      <h3>Booking n°<%= index + 1%></h3>
      <p>
        Booked by :
        <%= link_to booking.user.firstname, user_path(booking.user.id) %>
      </p>
      <p>Check-in: <%= booking.check_in %></p>
      <p>Check-out: <%= booking.check_out %></p>
      <p>Total price: <%= booking.price_cents %> $</p>
      <p>
          Status:
          <% if booking.accepted %>
            Accepted
          <% else %>
            Pending or declined
          <% end %>
        </p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="row">
        <% unless booking.accepted %>
          <%= link_to "Answer this request", booking_path(booking), class: "btn btn-success", id: "text-padding", style: "margin: 74px;"%>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>




