

<div class="container-fluid padded text-center">
  <h1>Book <%= @flat.user.firstname %>'s Flat</h1>
    <%= image_tag @flat.flat_images.first.picture.url(:medium), class: "align-left", id: "photo-trip-card", style: 'border-radius: 5px;'%>
</div>

<div class="container">
  <%= simple_form_for(@booking, url: account_bookings_path) do |form| %>
    <div class='text-center' style= "padding-left: 200px; padding-right: 200px;">

      <div style='padding-bottom: 2em;'>
        <input type="date" class="form-control" id="check_infield" name="check_in" placeholder="Check In">
      </div>
      <div style='padding-bottom: 2em;'>
        <input type="date" class="form-control" id="check_outfield" name="check_out" placeholder="Check Out">
      </div>
      <div style='padding-bottom: 2em;'>
        <select class="form-control text-center" id="guestsfield" name="guests" placeholder="Number of guests">
        <%= options_for_select((1..5).to_a.map { |number| [pluralize(number, 'guest'), number] }) %>
        </select>
      </div>
      <input type="hidden" name="flat_id" value="<%= @flat_id %>">
      <%= form.submit "Add", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>




<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('.datepicker .input-daterange').datepicker({
        todayBtn: "linked",
        clearBtn: true,
        multidate: false,
        daysOfWeekDisabled: "0",
        calendarWeeks: true,
        todayHighlight: true,
        dateFormat: 'yy-mm-dd'
      });
    });
  <% end %>
<% end %>



