<div class="container">
  <div class="row text-center">
    <h1>Welcome to your flat list</h1>
    <div class="col-md-3 text-left padded-top bold">
        <p> My account  </p>
        <p> My reservations </p>
    </div>
    <div class="col-md-9">
      <% @flats.each do |flat| %>
        <%= link_to flat_path(flat) do %>
          <div class="row border-col opacity-effect">
            <div class="col-xs-3">
              <div id='img-account-flats-index'>
                <%= image_tag flat.flat_images.first.picture.url(:small) %>
              </div>
            </div>
            <div class="col-xs-9 text-left">
              <h2> <%= flat.title %>, <%= flat.city %> </h2>
              <p><%= flat.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
