<div class="container-fluid">
  <div class="row text-center">
    <h1>Your new flat</h1>
    <p>Name your flat, fill a description </p>
  </div>
</div>

<div class="container">
  <%= simple_form_for(@flat, url: account_flats_path, html: { multipart: true }) do |form| %>
    <div class="row padded text-center">
      <%= form.input :title %>
      <%= form.input :description %>
      <%= form.input :city %>
      <%= form.input :capacity, as: :select, collection: [1, 2, 3, 4, 5] %>
      <%= form.fields_for :flat_images do |builder| %>
        <% if builder.object.new_record? %>
          <p>
          <%= builder.label :picture, "Image File" %>
          <%= builder.file_field :picture %>
          </p>
        <% end %>
      <% end %>
    </div>
    <div class="row text-center">
      <%= form.submit "Add", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>


